<div *ngIf="[rootVar] == 'home'">
  <h1>Work Ninja</h1>
  <h3>What can I do for you master?</h3>
  <button class="btn btn-primary" (click)="showSection('clients')">See list of clients</button>
  <button class="btn btn-primary" (click)="showSection('add_client')">Create a new client</button>
</div>
<client-list *ngIf="[rootVar] == 'clients'"></client-list>
<br />
<button *ngIf="[rootVar] == 'clients'" class="btn btn-primary" (click)="showSection('home')">Home</button>
<add-client *ngIf="[rootVar] == 'add_client'"></add-client>
<br />
<button *ngIf="[rootVar] == 'add_client'" class="btn btn-primary" (click)="showSection('home')">Home</button>  
<button *ngIf="[rootVar] == 'add_client'"  class="btn btn-primary" (click)="showSection('clients')">See list of clients</button>