body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.loading_icon {
  text-align: center;
}

$primary-brand-colour   :   #00be6d;
$primary-heading-colour :   #00a55e;
$btn-primary-bg-colour  :   #3ACA8D;

h2 {
  color: $primary-heading-colour;
  font-weight: 600;
  text-align: center;
}

h3 {
  margin-top: 0px;
  font-size: 24px;
  color: $primary-heading-colour;
}

p {
  font-size: 15px;
}

.btn-primary {
  background-color: $btn-primary-bg-colour;
  border-color: $btn-primary-bg-colour;
  &:hover, &:focus, &:active {
    background-color: $primary-brand-colour !important;
    border-color: $primary-brand-colour !important;  
  }
}