body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.loading_icon {
  text-align: center;
}

h3 {
  margin-top: 0px;
  font-size: 24px;
}

p {
  font-size: 15px;
}