body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.loading_icon {
  text-align: center;
}

$primary-brand-colour:    #00be6d;
$primary-heading-colour: #00a55e;

h3 {
  margin-top: 0px;
  font-size: 24px;
  color: $primary-heading-colour;
}

p {
  font-size: 15px;
}